<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="Content"
>
<head>
  <title>테스트 페이지</title>

  <!-- inline CSS 영역-->
  <style th:inline="css" type="text/css">
  </style>

  <!-- inline JS 영역-->
  <script th:inline="javascript" type="text/javascript">
  </script>
</head>

<body>
<div>
  <div class="my-3 border-bottom">
    <b>signup with spring security</b>
  </div>

  <form th:action="@{/admin/roles}" th:object="${roleMngRequestDto}" method="post">
    <div th:replace="~{/common/fragment/formError :: FormErrorFragment}"></div> <!--컨트롤러 BindingResult 에 에러가 있는 경우 이곳에 표기-->

    <div th:each="roleAuthority : ${roleMngRequestDto.allRoleAuthorities}">
      <label for="roleName">role Name : </label>
      <input type="hidden"  th:name="${'allRoleAuthorities[' + roleAuthorityStat.index + '].id'}" th:value="${roleAuthority.id}"/>
      <input type="text" style="width: 250px;" th:field="${roleMngRequestDto.allRoleAuthorities[__${roleAuthorityStat.index}__].roleName}" />

      <div th:each="authorityDto : ${roleMngRequestDto.allAuthorities}">
        <input type="checkbox" th:name="${'allRoleAuthorities[' + roleAuthorityStat.index + '].authorities[' + authorityDtoStat.index + '].authority'}" th:value="${authorityDto.authority}" th:checked="${#lists.contains(role.authorityEnums, authorityDto.authority)}"/>
        <label th:text="${authorityDto.authority + '(' + authorityDto.authority.desc + ')'}"></label>
      </div>

      <br>
    </div>


    <br>
    <button type="submit">submit</button>
  </form>
</div>
</body>
</html>
