<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="Content"
>
<head>
  <title>테스트 페이지</title>

  <!-- inline CSS 영역-->
  <style th:inline="css" type="text/css">
  </style>

  <!-- inline JS 영역-->
  <script th:inline="javascript" type="text/javascript">
  </script>
</head>

<body>
<div>
  <div class="my-3 border-bottom">
    <b>user information update</b>
  </div>
  <p th:if="${userEmail} != null" style="color: blueviolet;"><span th:text="${userEmail}"></span>님 정보를 수정 했습니다.!</p>

  <form th:action="@{/user/update}" th:object="${userUpdateRequestDto}" method="post">
    <div th:replace="~{/common/fragment/formError :: FormErrorFragment}"></div> <!--컨트롤러 BindingResult 에 에러가 있는 경우 이곳에 표기-->

    <label for="name">name</label>
    <input type="text" th:field="*{name}">

    <label for="email">email</label>
    <input type="text" th:field="*{email}" readonly>

    <label for="password">password</label>
    <input type="text" th:field="*{password}">

    <br><br>

    <div th:each="userAddress : ${userUpdateRequestDto.userAddresses}">
      <label>Address Type:</label>
      <input type="text" th:field="${userUpdateRequestDto.userAddresses[__${userAddressStat.index}__].addressType}" />

      <label>Address:</label>
      <input type="text" th:field="${userUpdateRequestDto.userAddresses[__${userAddressStat.index}__].address}" />
      <br/>
    </div>

    <br><br>
    <label>User Roles:</label>
    <div th:each="role : ${userUpdateRequestDto.allRoles}">
      <input type="checkbox" th:name="${'roles[' + roleStat.index + '].roleName'}" th:value="${role.roleName}" th:checked="${#lists.contains(userUpdateRequestDto.userRoleNames, role.roleName)}"/>
      <label th:text="${role.roleName}"></label>
    </div>

    <br><br>
    <label>Terms Agreement:</label>
    <div th:each="terms : ${userUpdateRequestDto.allTerms}">
      <input type="checkbox" th:name="${'terms[' + termsStat.index + '].termsName'}" th:value="${terms.termsName}" th:checked="${#lists.contains(userUpdateRequestDto.userTermsNames, terms.termsName)}"/>
      <label th:text="${terms.termsName}"></label>
    </div>

    <br>
    <button type="submit">submit</button>
  </form>
</div>

</body>
</html>
