<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="framework_example">

    <select id="return1" resultType="int">
        <![CDATA[
        select 1
        from dual
        ]]>
    </select>

    <select id="selectTb_Test" parameterType="int" resultType="com.sptek._frameworkWebCore._example.dto.Tb_TestDto">
        <![CDATA[
        select c1, c2, c3
        from test limit #{limit}
        ]]>
    </select>

    <insert id="insertTb_Test" parameterType="com.sptek._frameworkWebCore._example.dto.Tb_TestDto">
        <![CDATA[
        insert into test (c1, c2, c3)
        values (#{c1}, #{c2}, #{c3})
        ]]>
    </insert>

    
    <update id="updateTb_Test" parameterType="com.sptek._frameworkWebCore._example.dto.Tb_TestDto">
        <![CDATA[
            update test
            set c1 = #{c1}, c2 = #{c2}, c3 = #{c3}
            WHERE c1 = (
                SELECT max_c1 FROM
                    (
                        SELECT MAX(c1) AS max_c1 FROM test
                    ) AS sub
            )
            ]]>
    </update>

    <update id="deleteTb_Test">
        <![CDATA[
        DELETE FROM test
        WHERE c1 = (
            SELECT max_c1 FROM
            (
                SELECT MAX(c1) AS max_c1 FROM test
            ) AS sub
        )
        ]]>
    </update>

    <select id="selectAll" resultType="com.sptek._frameworkWebCore._example.dto.Tb_ZipcodeDto">
        <![CDATA[
        select *
        from ZIPCODE
        where doro = '공항길'
        ]]>
    </select>

</mapper>
